@media media-type and (media-feature) {
  selector { property: value; }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  text-align: center;
  font-size: 16px auto;
  width: 90%;
  padding:inherit;
}

h1{
  font-size: 1.7em;
  font-weight: Italic;
}

h2{
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  position: absolute;
  float: left;
  padding-top: 5%;
}

.container{
  position: center;
  margin: auto;
  padding-right: 1%;
  padding-left: 1%;
  width: 90%;
}

.preview{
  float: left;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.photo{
  float: left;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0px;
}

.baku{

}
.london{

}
.madrid{

}
.rome{

}

/* Desktop */
@media only screen and (min-width: 768px) {
  .photo{
    float: center;
    margin: 1%;
    width: 90%;
  }

  .preview{
    float: left;
    margin: 0%;
    width: 22%;
    padding-left: 1%;
    padding-right: 1%;
  }

  h2{
    text-align: left;
    line-height: normal;
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
    padding-top: 1%;
    padding-left: 5%;
  }
}

/* laptop */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .photo{
    float: left;
    margin: 1%;
    padding: inherit;
  }

  .preview{
    float: left;
    margin: 0%;
    width: 44%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  h2{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
  }
}
