@media media-type and (media-feature) {
  selector { property: value; }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  text-align: center;
  font-size: 16px auto;
  width: 100%;
}

h1{
  font-size: 1.7em;
  font-weight: Italic;
}

h2{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.container{
  margin: 1px;
  width: 100%;
  padding: 1%;
}

.preview{
  float: left;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.photo{
  float: left;
  margin: 1%;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .photo{
    float: center;
    margin: 1%;
    width: 90%;
  }
  .preview{
    float: left;
    margin: 1%;
    width: 22%;
    padding-left: 1%;
    padding-right: 1%;
  }
  h2{
    text-align: center;
    line-height: normal;
    font-size: 1.2em;
    font-weight: bold;
  }
}

/* laptop */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .photo{
    float: left;
    width: 75%;
    margin: 1%;
  }
  .preview{
    float: left;
    margin: 1%;
    width: 45%;
    min-height: 340px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
  }
  h2{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
}
